
@{
    ViewBag.Title = "Bill";

}

<h2>Bill</h2>

<a href="single.html"><img src="~/ImagePacks/@(Model.id).png" class="img-responsive" alt="" /></a>
<div class="grid1-info">
    <h4>Details</a></h4>
    <p>@Model.name</p>
    <p>Category:  @Model.category</p>
    <a href='@Url.Action("ExportPDF", "Packs", new { id = Model.id })' > Get Bill</a>
  


</div>