@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_champion.cshtml";
}
<div class="information">

    <p>
        @using (Html.BeginForm("Details", "matches", FormMethod.Get))
        {
            <div class="form-group">
            <b>Enter a summoner name : </b>
            <input class="form-control" placeholder="Enter a summoner name" name="search" style="width:30%;height:10%;">
                </div>
                <input type="submit" value="Get Statistics" class="btn btn-default" />


        }
    </p>


    
          
        


    </div>



